<div class="home">
    <h1 class="text-center">HOME</h1>
    
    <div class="search-container">
        <div class="input-container">
            <label class="radio-container">
                All
                <input type="radio" name="gender" value="" c-bind="change=radioValue" checked>
                <span class="checkmark"></span>
            </label>
            
            <label class="radio-container">
                Male
                <input type="radio" name="gender" value="Male" c-bind="change=radioValue">
                <span class="checkmark"></span>
            </label>

            <label class="radio-container">
                 Female
                <input type="radio" name="gender" value="Female" c-bind="change=radioValue"> 
                <span class="checkmark"></span>
            </label>
        </div>

        <div class="input-container">
            <label for="">Name</label>
            <input type="text" name="name" c-bind="keyup=inputsValue">
        </div>
        
        <div class="input-container">
            <label for="">Lastname</label>
            <input type="text" name="lastname" c-bind="keyup=inputsValue">
        </div>
        
        <div class="input-container">
            <label for="">Age</label>
            <input type="text" name="age" c-bind="keyup=inputsValue">
        </div>
    </div>
    <h2 class="text-center">PEOPLE</h2>
    <div class="results">
        <ul>
            <li c-for="globals.state.people">
                <div class="person">
                    <img src="{{state.personImage}}" class="img-responsive" alt="person">
                    <span>Email: &nbsp;<span class="bold">{email}</span></span>    
                    <span>Name: &nbsp;<span class="bold">{first_name}</span></span>
                    <span>Lastname: &nbsp;<span class="bold">{last_name}</span></span>
                    <span>Age: &nbsp;<span class="bold">{age}</span></span>
                    
                    <div class="actions">
                        <a href="#edit-person?id={_id}">Edit</a>
                        <a href="#" class="delete" _id={_id} c-bind="click=removePerson">Delete</a>
                    </div>
                </div>
            </li>
        </ul>
    <div>
</div>

