/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 3rem;
}

h2 {
    font-size: 2.2rem;
    margin: 1.2rem 0;
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.img-responsive {
    max-width: 100%;
}

#router {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1em;
}

@media (max-width: 1200px){
    #router{
        max-width: 970px;
    }
}

@media (max-width: 992px){
    #router{
        max-width: 750px;
    }
}

.btn{
    color: white;
    background: #4649a2;
    border: none;
    outline: none;
    padding:0.6em 1em;
    cursor: pointer;
    border-radius: 2px;

    &:hover{
        background: darken(#4649a2, 15%);
    }
}

a{
    text-decoration: none;
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.input-container{
    margin: 1em 0;
}

input{
    background: #f6f8fb;
    border-radius: 4px;
    padding: 0.6em;
    border: 1px solid lighten(#4649a2, 45%);
    font-family: 'Open Sans', sans-serif;
}

input[type="text"], input[type="email"]{
    width: 100%;

    &:focus{
        outline: none;
        border-color: lighten(#4649a2, 40%)
    }
}

.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.radio-container input:checked ~ .checkmark {
    background-color: #4649a2;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}





/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/

nav{
    background: #4649a2;
    padding: 2em 1em;

    ul{
        margin:0;
        padding:0;
        text-align: center;

        li{
            list-style: none;
            display: inline-block;
            padding:0 1em;

            &:last-child{
                border-left:1px solid white;
            }

            a{
                color:white;
                font-size: 1.2em;

                &:hover{
                    color: #f4eeee;
                }
            }
        }
    }
}





/*------------------------------------*\
  #HOME PAGE
\*------------------------------------*/

.search-container {
    background: #f6f8fb;
    display: flex;
    padding: 1em 1em;
    margin-bottom: 2em;

    > div {
        width: 33.33%;
        padding:0 1em;
    }
}

@media (max-width: 767px) {
    .search-container {
        display: block;

        > div {
            width: 100%;
        }

        .input-container {
            margin: 1.7em 0;
        }
    }
}

.results {
    background: #f6f8fb;
    overflow: hidden;

    ul {
        margin:2em 0 0;
        padding: 0 1em;
        display: flex;
        flex-wrap: wrap;

        li {
            list-style: none;
            width: 33.33%;
            padding: 0 1em;

            div.person {
                background: white;
                padding: 1em;
                margin-bottom: 3em;

                img {
                    margin-bottom: 10px;
                }

                >span {
                    display: block;
                }

                div.actions {
                    display:flex;
                    justify-content: space-between;
                    margin-top: 10px;

                    a {
                        color: #4649a2;
                        font-weight: bold;
                        letter-spacing: 1px;
                        
                        &:hover {
                            color: lighten(#4649a2, 15%); 
                        }

                        &.delete {
                            color:#e64e93;

                            &:hover {
                                color: darken(#e64e93, 15%); 
                            }
                        }
                    }
                }
            }
        }
    }   
}

@media (max-width: 992px) {
    .results {
        ul {
            li {
                width: 50%;
            }
        }
    }
}

@media (max-width: 767px) {
    .results {
        ul {
            li {
                width: 100%;
                padding: 0;
            }
        }
    }
}








