<div class="add-person">
    <h1 class="text-center">ADD PERSON</h1>
    <div class="input-container">
        <label class="radio-container">
            Male
            <input type="radio" name="gender" value="Male" c-bind="change=radioValue">           
            <span class="checkmark"></span>
        </label>

        <label class="radio-container">
            Female
            <input type="radio" name="gender" value="Female" c-bind="change=radioValue">             
            <span class="checkmark"></span>
        </label>
    </div>

    <div class="input-container">
        <label for="">Name</label>
        <input type="text" name="name" c-bind="keyup=inputsValue">
    </div>
    
    <div class="input-container">
        <label for="">Lastname</label>
        <input type="text" name="lastname" c-bind="keyup=inputsValue">
    </div>
    
    <div class="input-container">
        <label for="">Email</label>
        <input type="email" name="email" c-bind="keyup=inputsValue">
    </div>

    <div class="input-container">
        <label for="">Age</label>
        <input type="text" name="age" c-bind="keyup=inputsValue">
    </div>
    
    <div class="input-container">
        <label for="">Ip Address</label>
        <input type="text" name="ip_address" c-bind="keyup=inputsValue">
    </div>
    <button class="btn" c-bind="click=addNewPerson">Add New Person</button>
    <p>{{state.personCreated}}</p>
</div>