<div>
    <h1 class="text-center">EDIT PERSON</h1>

    <div class="input-container">
        <label class="radio-container">
            Male
            <input type="radio" name="gender" value="Male" checkedValue="{{state.gender}}" c-bind="change=radioValue">
            <span class="checkmark"></span>
        </label>

        <label class="radio-container">
                Female
            <input type="radio" name="gender" value="Female" checkedValue="{{state.gender}}" c-bind="change=radioValue"> 
            <span class="checkmark"></span>
        </label>
    </div>

    <div class="input-container">
        <label for="">Name</label>
        <input type="text" name="name" value="{{state.name}}" c-bind="keyup=inputsValue">
    </div>
    
    <div class="input-container">
        <label for="">Lastname</label>
        <input type="text" name="lastname" value="{{state.lastname}}" c-bind="keyup=inputsValue">
    </div>
    
    <div class="input-container">
        <label for="">Email</label>
        <input type="email" name="email" value="{{state.email}}" c-bind="keyup=inputsValue">
    </div>

    <div class="input-container">
        <label for="">Age</label>
        <input type="text" name="age" value="{{state.age}}" c-bind="keyup=inputsValue">
    </div>
    
    <div class="input-container">
        <label for="">Ip Address</label>
        <input type="text" name="ip_address" value="{{state.ip_address}}" c-bind="keyup=inputsValue">
    </div>
    <button class="btn" c-bind="click=editPerson">Edit Person</button>
    <p>{{state.personEdited}}</p>
</div>
