<div class="app-container">
    <nav>
        <ul>
            <li>
                <a href="#">HOME</a>
            </li>
            <li>
                <a href="#add-person">ADD PERSON</a>
            </li>
        </ul>
    </nav>

    <div id="router"></div>

</div>